<%- include('common/header'); -%>
<div class="errorPage container-sm">
    <h1>
        <span class="statusCode"><%= statusCode %></span><br>
        <%= title %>
    </h1>
    <p class="message"><%= message %></p>
    <% if (error) { %>
    <pre><%= error.stack %></pre>
    <% } %>
</div>
<%- include('common/footer'); -%>