<%- include('common/header'); -%>
<div class="error-page global-container">
    <h1>
        <span class="statusCode"><%= statusCode %></span><br>
        <%= title %>
    </h1>
    <div class="details">
        <div class="message"><%= message %></div>
        <footer>Request ID: <code><%= requestId %></code></footer>
    </div>
    <% if (error) { %>
    <pre><%= error.stack %></pre>
    <% } %>
</div>
<%- include('common/footer'); -%>