<%
    function getTitle() {
        if(typeof title === 'string') {
            return `${title} | AmID`;
        } else {
            return 'AmID';
        }
    }

    function getBundleFilePath(fileName) {
        return `<link rel="stylesheet" href="${bundleUrl}${fileName}" />`;
    }
    function loadStyles() {
        let tags = [getBundleFilePath('style.css')];

        if (typeof pageStyleSheet !== 'undefined') {
            if ( typeof pageStyleSheet === 'string' ) {
                pageStyleSheet = [pageStyleSheet];
            }
            if ( Array.isArray(pageStyleSheet) ) {
                pageStyleSheet.forEach((fileName) => {
                    tags.push(getBundleFilePath(fileName));
                });
            }
        }

        return tags.join('\n');
    }

    const defaultMeta = {
        'description': t('defaultMeta.description')
    }
    function getMeta(metaName) {
        if( metaName in defaultMeta )  {
            if( typeof meta === 'object' && metaName in meta ) {
                return meta[metaName];
            } else {
                return defaultMeta[metaName];
            }
        } else {
            return null;
        }
    }
%><!DOCTYPE html>
<html lang="<%=language%>">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="csrf-token" content="<%=csrfToken%>" />

    <title><%=getTitle()%></title>
    <meta name="description" content="<%=getMeta('description')%>" />
    <%-loadStyles()%>
</head>
<body<%- typeof bodyClass === 'string' ? ` class="${bodyClass}"` : '' %>>
    <div id="flash-message-popup">
        <noscript>
            <div id="wrapper" class="red">
                <div class="stack">
                    <div class="title"><%= t('header.enable_javascript.title') %></div>
                    <div class="body"><%= t('header.enable_javascript.message') %></div>
                </div>
            </div>
        </noscript>
    </div>
    <header id="globalHeader">
        <a href="/" title="<%= t('header.backToTop') %>"><%- include('logo'); -%></a>
    </header>
    <main class="container-lg">
